@import 'colors';

textarea, input[type="date"], 
input[type="datetime"], input[type="datetime-local"],
input[type="email"], input[type="month"], input[type="number"],
input[type="password"], input[type="search"], input[type="tel"],
input[type="text"], input[type="time"], input[type="url"], 
input[type="week"] {
  border: 1px solid $c_border;
  padding: 2px 5px;    
  font-family: "Ubuntu", sans-serif;

  &:active, &:focus {
    border-color: $c_colored;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  }

  &.error {
    border-color: $c_red;
  }
}

select {
  border: 1px solid $c_border;
  font-family: "Ubuntu", sans-serif;
  background-image: url('select_arrow.gif');
  background-repeat: no-repeat;
  background-position: right center;

  &:active, &:focus {
    @extend input[type="text"]:focus  
  }
}

label.error {
  display: block;
  font-size: 11px;
  color: $c_red;
  margin-top: 3px;
}

.ie8 {
  a.button {
    line-height: 16px;
  }
} 

input[type="checkbox"], input[type="button"],
input[type="submit"], input[type="reset"], 
button, label {
  vertical-align: middle;
}

a.button {
  display: inline-block;
  line-height: 15px;
  margin-top: -2px;
  vertical-align: bottom;
}
