.product-section-title {
  color: #ec008c;
  margin: 10px 0;
	font-size:18px;
	font-weight:normal;
}

.add-to-cart {
	position:absolute;
	right:20px;
	bottom: 20px;

  input[type="number"] {
    width: 60px;
    vertical-align: middle;
    padding: 5px;
    height: 35px;
  }
}
#product-price{
	position:absolute;
	bottom:20px;
	left:20px;
}

span.price {
  font-weight: bold;
  color: #8a5740;

  &.selling {
    font-size: 20px;      
  }
  &.diff {
    font-weight: bold
  }  
}
  
ul#products {
  margin-left: -10px;
  margin-right: -10px;    

  li {
		position:relative;
    text-align: center;
    font-weight: normal;
    margin-bottom: 20px;

    a {
      display: block;

      &.info {
        margin-top: 2px;
        color: #000;
      }
    }

    .product-image {
      border: 1px solid $c_border;
      padding: 5px;        
      min-height: 110px;

      &:hover {
        border-color: $c_colored;
      }

    }

    .price {
      color: #8a5740;
			font-weight:normal;
      font-size: 16px;
      padding-top: 5px;
      display: block;
    }
  }
}

.subtaxon-title {
  text-transform: uppercase;

  a {
    color: $c_colored;  
  }    
}

.search-results-title {
  text-transform: uppercase;
  border-bottom: 1px solid $c_border;
  margin-bottom: 10px;
}

#sidebar_products_search {
  .navigation {
    margin-bottom: 15px;
  }

  span.category {
    display: block;
    font-weight: bold;
    margin-bottom: 0;
    color: #ec008c;
    font-size: 12px;
    line-height: 24px;
  }
}
  
.taxon {
  overflow: hidden;
}

#product-images {
	background-color:#fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	display:inline-block;
  #main-image {
    text-align: center;
  }
}


#product-description {
  .product-title {
    margin-bottom: 10px;
		font-size:24px;
		color: #ec008c;
		font-weight:normal;
  } 
}

#product-thumbnails {
  margin-top: 10px;

  li {
    margin-right: 6px;
    border: 1px solid $c_border;

    img {
      padding: 5px;
    }

    &:hover, &.selected {
      border-color: $c_colored;
    }
  }
}

#product-properties {
  border: 1px solid $c_border;
  padding: 10px;
}

#product-variants {
  ul {
    li {
      padding: 5px;
    }
  }
}
