#wrapper {
	width: 920px;
	margin: 0 auto;
	background-color: #fff
	
}
#header{
	position:relative;
	background-color: #fff
}

li#home-link {
	display:none;
}

#content hr.space {
	display:none;
}

ul#nav-bar li a {
	font-family:"Trashhand",Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #8a5740;
	text-decoration: none;
}
ul#nav-bar li a:hover {
	color: #ec008c;
}
.menu{
	font-family:"Trashhand",Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 18px;
	width: 100%;
	height: 30px;
	color: #fff;
	background-color: #ec008c;
}

.menu ul#first {
	list-style: none;
}

.menu form {
	width: 320px;
	display:inline-block;
	float:right;
	
}

.menu ul li{
	list-style: none;
	display:inline-block;
	margin: 2px 25px;
}


#logo_boconnect{
	width: 960px;
}

#logo_boconnect img{
	margin: 22px 50px;
}


.sidebar-item h3{
	font-family:"Trashhand",Arial, Helvetica, sans-serif;
	font-style:normal;
	font-size: 16px;
	color: #ec008c;
}

li#search-bar {
	display:none;
}

#link-to-cart{
	margin: 0 10px;
}

.price.selling{
	font-size: 16px;
}

#promocao{
	position: absolute;
	top: 35px;
	left:295px;
}

#pagination_bar {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	background-color: #fff;
	width: 689px;
	height:30px;
	margin: 4px 17px 6px 7px;
	font-family:"Trashhand",Arial, Helvetica, sans-serif;
	font-style:normal;
	font-size: 18px;
	color: #8a5740;
}
p.category{
	padding: 2px 12px;
}