table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
  thead {
    background-color: $c_border;
    text-transform: uppercase;

    tr {
      th {
        padding: 5px 10px;
      }
    }
  }
  tbody, tfoot {
    tr {
      border-bottom: 1px solid $c_border;

      td {
        padding: 5px 10px;
      }

      &.alt, &.odd {
        background-color: $c_colored_alt;
      }
    }
  }
}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

