table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
  thead {

    tr {
      th {
        padding: 5px 10px;
				font-weight:bold;
      }
    }
  }
  tbody, tfoot {
    tr {

      td {
        padding: 5px 25px;
      }

      &.alt, &.odd {
        background-color: $c_colored_alt;
      }
    }
  }
}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

